.mainRegion {
    width: 100%;
    height: 100%;
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
}

.mainRegion-resume {
    width: 100%;
    height: 100%;
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
}

.home {
    width: 100%;
    height: 100%;
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
}

#menu {
    width: 100%;
    border-right: thin solid rgba(130, 140, 149, 1); 
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
    float: left;
    margin: 0 auto;
    border-bottom: solid 1px #000;
}

#menu li {
    height: 40px;
    width: 175px; 
    display: inline-block;
    padding-top: 8px;
    border-radius: 15px;
}

#menu li:hover {
    background-color: #000;
}

#menu ul {
    padding: 0;
    margin-bottom: 0;
}

#menu li a {
    padding-top: 10px;
    font-size: 18px; 
    color: #fff;
}


#menu-mobile li {
    text-align: center;
    display: block;
    padding: 5px 30px;
    background: rgb(24, 31, 35); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(90%, rgba(24, 31, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181f23', endColorstr='#181f23', GradientType=0);
}

#menu-mobile li:hover {
    background: rgb(130, 140, 149); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(130, 140, 149, 1)), color-stop(50%, rgba(24, 31, 35, 1)), color-stop(50%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(24, 31, 35, 1)), color-stop(90%, rgba(130, 140, 149, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#828c95', GradientType=0);
}

#menu-mobile ul {
    padding: 0;
    margin-bottom: 0;
}

#menu-mobile a {
    text-align: center;
    width: 33%;
    font-family: Arial;
    font-weight: bold;
    height: 45px;
    font-size: 25px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 100%;    
    height: 100%;
    background: rgb(24, 31, 35); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(90%, rgba(24, 31, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181f23', endColorstr='#181f23', GradientType=0);
}

#wrapper-resume {
    width: 100%;    
    background: rgb(24, 31, 35); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(90%, rgba(24, 31, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181f23', endColorstr='#181f23', GradientType=0);
}

#center {
    width: auto;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
}

#nav-header {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
}

#name {
    height: 40px;
    width: auto;
    margin: 0 auto;
}

#name_links {
    height: 40px;
    width: 550px;
    margin: 0 auto;
}

#nav-header h2 {
    color: #fff;
    margin: 0;
    position: relative;   
}

#menu-mobile-image img {
    float: left;
    height: 35px;
    width: 40px;
    clear: both;
}

#menu-mobile-image1 img {
    float: left;
    height: 40px;
    width: 40px;
    display: none;
}

#profile_pic {
    margin: 0 auto;
    max-width: 400px;
}

#profile_description {
    margin: 50px auto 0;
    float: left;
    width: 100%;
}

#content {
    width: 50%;
    height: 560px;
    margin: 0 auto;
}

#profile_description p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 36px 0;
    margin: 0;
}

#links_left, #links_center, #links_right {
    float: left; 
    width: 23.3%;
    margin-top: 25px;
    height: auto;
}

#links {
    width: 100%;
    background-color: transparent;
    align-self: center;
    margin-left: 215px;
}

#title {
    width: 100%; 
    height: 50px; 
    float: left; 
    text-align: center; 
}

#title p {
    color: #fff; 
    font-size: 32px; 
}

#title_left, #title_center, #title_right {
    width: 80%;
    height: 40px;
    margin: auto;
    text-align: center; 
}    

#title_left, #title_center, #title_right p {
    color: #fff; 
    font-size: 24px; 
}

#page_links_left, #page_links_center, #page_links_right {
    width: 80%;
    margin: auto; 
    text-align: center;
}

#page_links_left, #page_links_center, #page_links_right a {
    font-size: 18px; 
}

body {
    height: 100vh;
}

#profile_pic img {
  max-width: 400px;
  width: auto;
  height: 430px;
  margin: 40px auto;
  border-radius: 140px;
}

#menu-mobile {
    width: 414px;
    float: left;
    clear: both;
    display: none;
    position: absolute; 
    margin-top: 0;
}

#picture_div {
    float: left;  
    width: auto;
    padding: 50px;
}

#picture_div img {
    border-radius: 15px;
}

#My_description {
    float: left;
    max-width: 700px; 
}

#My_description p {
    color: #fff;
    font-size: 28px; 
    font-family: Arial; 
    margin-top: 100px;
}

#sub-wrapper {
    height: 100vh;
}

#viking {
    max-width: 300px;
    max-height: 300px; 
    margin: 10px auto;
}

#viking img {
    max-width: 300px;
    max-height: 300px; 
}


@media (max-width: 1515px) {
    #profile_description {
        float: none;
        margin: 0 50px;
    }
}

@media (max-width: 430px) {
    #links_left, #links_center, #links_right {
        float: none;
        width: 80%;
        margin: 42px auto 0;
    }
    #page_links_left, #page_links_center, #page_links_right a {
        font-size: 24px; 
    }
    #title_left, #title_center, #title_right p {
        font-size: 26px; 
    }
    #name_links {
        width: auto;
    }
    #menu {
        display: none;
    }
    #nav-header {
        height: 40px;
    }
    #links {
        margin-left: 0;
    }
    #content {
        margin: 0;
        width: 100%;
        height: auto;
    }
    #profile_pic {
        float: none;
    }

    #profile_description {
        float: none;
        margin: 0 auto;
    }
    #menu-mobile-image1 img {
        position: absolute; 
        z-index: 1; 
        width: 100%;
        display: block;
    }
    #menu-mobile {
        margin-top: 40px; 
        width: 100%;
    }
    #profile_pic img {
        max-width: 319px;
        height: 410px;
    }
    body {
        height: 100%;
    }
    #picture_div {
        padding: 50px 25px 0;
    }
    #picture_div img {
        max-width: 300px;
    }
    #My_description {
        margin: 40px;
    }
    #My_description p{
        margin-top: 0;
        font-size: 18px;
    }
    #viking {
        display: none;
    }
    nav-header h2 { font-size: 18px; }

    #menu-mobile-image img { display: none; }

}

