.mainRegion {
    width: 100%;
    height: 100%;
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
}

#menu-mobile {
    width: 414px;
    float: left;
    clear: both;
    display: none;
    position: absolute; 
    margin-top: 0;
}

#menu {
    width: 100%;
    border-right: thin solid rgba(130, 140, 149, 1); 
    background: rgb(40, 52, 59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(40, 52, 59, 1)), color-stop(50%, rgba(72, 89, 107, 1)), color-stop(88%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 18%, rgba(72, 89, 107, 1) 50%, rgba(40, 52, 59, 1) 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
    float: left;
    margin: 0 auto;
    border-bottom: solid 1px #000;
}

#menu li {
    height: 40px;
    width: 175px; 
    display: inline-block;
    padding-top: 8px;
    border-radius: 15px;
}

#menu li:hover {
    background-color: #000;
}

#menu ul {
    padding: 0;
    margin-bottom: 0;
}

#menu li a {
    padding-top: 10px;
    font-size: 18px; 
    color: #fff;
}


#menu-mobile li {
    text-align: center;
    display: block;
    padding: 5px 30px;
    background: rgb(24, 31, 35); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(90%, rgba(24, 31, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181f23', endColorstr='#181f23', GradientType=0);
}

#menu-mobile li:hover {
    background: rgb(130, 140, 149); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(130, 140, 149, 1)), color-stop(50%, rgba(24, 31, 35, 1)), color-stop(50%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(24, 31, 35, 1)), color-stop(90%, rgba(130, 140, 149, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(130, 140, 149, 1) 10%, rgba(24, 31, 35, 1) 50%, rgba(24, 31, 35, 1) 50%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 51%, rgba(130, 140, 149, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#828c95', GradientType=0);
}

#menu-mobile ul {
    padding: 0;
    margin-bottom: 0;
}

#menu-mobile a {
    text-align: center;
    width: 33%;
    font-family: Arial;
    font-weight: bold;
    height: 45px;
    font-size: 25px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 100%;
    background: rgb(24, 31, 35); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(24, 31, 35, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(51%, rgba(130, 140, 149, 1)), color-stop(90%, rgba(24, 31, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(24, 31, 35, 1) 10%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(130, 140, 149, 1) 51%, rgba(24, 31, 35, 1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181f23', endColorstr='#181f23', GradientType=0);
}

#center {
    width: auto;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
}

@media (max-width: 800px) {
    #center {
        margin-left: 10%;
        margin-right: 10%;
    }
}

#nav-header {
    width: 100%;
    height: 80px;
    background-color: #000;
    text-align: center;
}

#name {
    height: 40px;
    width: 350px;
    margin: 0 auto;
}

#name_links {
    height: 40px;
    width: 550px;
    margin: 0 auto;
}

#nav-header h2 {
    color: #fff;
    margin: 0;
    position: relative;   
}

#menu-mobile-image img {
    float: left;
    height: 35px;
    width: 40px;
    clear: both;
}

#menu-mobile-image1 img {
    float: left;
    height: 40px;
    width: 40px;
    display: none;
}

#profile {
    width: 600px;
    height: 100vh;
    background-color: transparent;
    margin: auto;
    align-self: center;
}

@media (max-width: 430px) {
    #nav-header h2 { font-size: 18px; }

    #menu-mobile-image img { display: none; }

    #menu-mobile-image1 img {
        width: 100%;
        display: block;
    }

    #profile { width: auto; }
}

#profile p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 200px;
}

@media (max-width: 430px) {
    #menu-mobile-image1 img{
        position: absolute; 
        z-index: 1; 
    }
    #menu-mobile {
        margin-top: 40px; 
        display: block;
        width: 100%;
    }
}

#links_left, #links_center, #links_right {
    float: left; 
    width: 23.3%;
    margin-top: 25px;
    height: auto;
}

#links {
    width: 100%;
    background-color: transparent;
    align-self: center;
    margin-left: 215px;
}

#title {
    width: 100%; 
    height: 50px; 
    float: left; 
    text-align: center; 
}

#title p {
    color: #fff; 
    font-size: 32px; 
}

#title_left, #title_center, #title_right {
    width: 80%;
    height: 40px;
    margin: auto;
    text-align: center; 
}    

#title_left, #title_center, #title_right p {
    color: #fff; 
    font-size: 24px; 
}

#page_links_left, #page_links_center, #page_links_right {
    width: 80%;
    margin: auto; 
    text-align: center;
}

#page_links_left, #page_links_center, #page_links_right a {
    font-size: 18px; 
}

body {
    height: 100vh;
}

@media (max-width: 430px) {
    #links_left, #links_center, #links_right {
        float: none;
        width: 80%;
        margin: 42px auto 0;
    }
    #page_links_left, #page_links_center, #page_links_right a {
        font-size: 24px; 
    }
    #title_left, #title_center, #title_right p {
        font-size: 26px; 
    }
    #name_links {
        width: auto;
    }
    #wrapper, .mainRegion {
        height: auto;
    }
    #menu {
        display: none;
    }
    #nav-header {
        height: 40px;
    }
    #links {
        margin-left: 0;
    }
}

@media (min-width: 430px) {
    #menu-mobile {
        display: none;
    }
}