<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<div class="mainRegion">
    <header id="nav-header">
        <div id="menu-image">
            <img src="~/Content/img/menu.jpg" />
        </div>
        <div id="name_links">
            <h2> Jonathan Bruenderman -Awesome Links</h2>
        </div>
        <div id="menu-image1">
            <img src="~/Content/img/menu.jpg" />
        </div>
        <nav id="menu">
            <ul>
                <li onclick="location.href= '/Home'"><a href="/Home"> Home </a></li>
                <li onclick="location.href= '/Home/Resume'"><a href="/Home/Resume"> Resume </a></li>
                <li onclick="location.href= '/Home/Links'"><a href="/Home/Links"> Awesome Links </a></li>
                <li onclick="location.href = '/Home/Projects'"><a href="/Home/Projects"> Projects </a></li>
                <li onclick="location.href = '/Home/Apps'"><a href="/Recipes/Index"> Apps </a></li>
                <li onclick="location.href = '/Home/ContactMe'"><a href="/Home/ContactMe"> Contact Me </a></li>
            </ul>
        </nav>

    </header>
    <div id="wrapper">
        <div id="links">
            <div id="links_left">
                <div id="title_left"><p>Dev Extentions</p></div>
                <div id="page_links_left">
                    <a href="https://chrome.google.com/webstore/detail/pesticide-for-chrome/bblbgcheenepgnnajgfpiicnbbdmmooh?utm_source=chrome-app-launcher-info-dialog"> Pesticide </a> <br />
                    <a href="https://chrome.google.com/webstore/detail/reload-all-tabs/midkcinmplflbiflboepnahkboeonkam?utm_source=chrome-app-launcher-info-dialog"> Reload All Tabs </a><br />
                    <a href="https://chrome.google.com/webstore/detail/user-agent-switcher/ffhkkpnppgnfaobgihpdblnhmmbodake?utm_source=chrome-app-launcher-info-dialog"> User Agent Switcher </a><br />
                    <a href="https://chrome.google.com/webstore/detail/page-ruler/jlpkojjdgbllmedoapgfodplfhcbnbpn?utm_source=chrome-app-launcher-info-dialog"> Page Ruler </a><br />
                    <a href="https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka?utm_source=chrome-app-launcher-info-dialog"> Eye Dropper </a><br />
                    <a href="https://chrome.google.com/webstore/detail/check-my-links/ojkcdipcgfaekbeaelaapakgnjflfglf?utm_source=chrome-app-launcher-info-dialog"> Link Checker </a>
                </div>
            </div>
            <div id="links_center">
                <div id="title_center"><p>Dev Tools</p></div>
                <div id="page_links_center">

                </div>
            </div>
            <div id="links_right">
                <div id="title_right"><p>Books</p></div>
                <div id="page_links_right">

                </div>
            </div>


        </div>

    </div>

</div>

<script src="~/Content/Scripts/Menubar.js"></script>
