<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<div class="mainRegion">
    <header id="nav-header">
        <div id="name">
            <h2> Jonathan Bruenderman</h2>
        </div>
        <div id="menu-mobile-image1">
            <img src="~/Content/img/menu-mobile.jpg" />
        </div>

        <nav id="menu">
            <ul>
                <li onclick="location.href='/Home'"><a href="/Home"> Home </a></li>
                <li onclick="location.href='/Home/Resume'"><a href="/Home/Resume"> Resume </a></li>
                <li onclick="location.href='/Home/Links'"><a href="/Home/Links"> Awesome Links </a></li>
                <li onclick="location.href='/Home/Projects'"><a href="/Home/Projects"> Projects </a></li>
                <li onclick="location.href='/Home/Apps'"><a href="/Recipes/Apps"> Apps </a> </li>
                <li onclick="location.href='/Home/ContactMe'"><a href="/Home/ContactMe"> Contact Me </a></li>
            </ul>
        </nav>

        <nav id="menu-mobile">
            <ul>
                <li onclick="location.href= '/Home'"><a href="/Home"> Home </a></li>
                <li onclick="location.href = '/Home/Resume'"><a href="/Home/Resume"> Resume </a></li>
                <li onclick="location.href= '/Home/Links'"><a href="/Home/Links"> Awesome Links </a></li>
                <li onclick="location.href = '/Home/Projects'"><a href="/Home/Projects"> Projects </a></li>
                <li onclick="location.href = '/Home/Apps'"><a href="/Recipes/Apps"> Apps </a> </li>
                <li onclick="location.href = '/Home/ContactMe'"><a href="/Home/ContactMe"> Contact Me </a></li>
            </ul>
        </nav>

    </header>
    <div id="wrapper">
        <div id="center">
            <h1 align="center"> Resume </h1>
            <h2 align="center">  </h2>
            <hr/>

            <p>
                <b>Summary </b>
                <br /> <br />
                A results-driven, information finding individual. Strong and confident with computer design and problem solving skills. I pride myself on my time management skills and attention to detail.
            </p>
            <hr />
            <p>
                <b>Technical skills </b>

                <ul style="list-style-type:disc">
                    <li> Microsoft Word, Excel, Visio, PowerPoint  </li>
                    <li> Proficient with Visual Studio and C#, C++ Programming Languages </li>
                    <li> Proficient with Eclipse and  Java Programming Language  </li>
                    <li> Skilled at Python, HTML, CSS, SQL with some basic website design.  </li>
                    <li> Worked in and educated in working within teams. </li>
                    <li> Have worked in environments that required knowledge of software systems  </li>
                </ul>
            </p>

            <hr />

            <p>
                <b>Projects</b>

                <ul>

                <li> <b>Blackjack server/client: </b></li>
                <li> Written in Python </li>
                <li> Created Server and client </li>
                <li> Server had 5 seats for playing and unlimited clients access(putting them in a lobby) </li>
                <li> Implemented chat system between clients </li>
                <br />
                <li> <b>Web based code tester for 100 level CS code:</b> </li>
                <li> Back end </li>
                <li> Python using Bottle </li>
                <li> JSON files for data storage and retrieval </li>
                <li> Front end </li>
                <li> HTML5 using Handlebars templates </li>
                <li> CSS using Bootstrap 3 </li>
                <li> JavaScript using Backbone </li>


                <br />
                <li> <b>DVD rental application:</b> </li>

                <li>Written in C#</li>
                <li>GUI interface with Visual Studio</li>
                <li>Uses simple .txt file to save and load data</li>
                <li>Windows Form application</li>


                <br />
                <li> <b>Unix shell: </b></li>

                <li>Written in C</li>
                <li>Implemented basic commands</li>

                <li>Change Directory/file</li>
                <li>Create Directory/file</li>
                <li>List Directories/files</li>
                <li>Etc</li>



                <br />
                <li> <b>Artificial Intelligence Tic Tac Toe Game:</b> </li>

                <li>Written in C</li>
                <li>Basic Gui used on Unix shell</li>
                <li>1 or 2 player</li>
                <li>1 player plays against AI(hint:Unwinnable if AI goes first)</li>

                </ul>

            </p>

            <hr />

        </div>

    </div>

</div>

<script src="~/Content/Scripts/menubar.js"></script>
